.product-list {
  list-style: none;
  padding: 90px;
}

.product-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 400px;
}

.product-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.product-details {
  padding: 20px;
  flex: 1;
}

.color-section {
  margin-top: 10px;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.size {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot.red {
  background-color: red;
}

.dot.blue {
  background-color: blue;
}

.dot.black {
  background-color: black;
}

.dot.yellow {
  background-color: yellow;
}
